version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: openrisk_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - openrisk_data:/var/lib/postgresql/data

volumes:
  openrisk_data: